h1 {
    text-align: center;
}

.comment {
    margin-bottom: 7px;
    padding: 10px !important;
}

.comment blockquote {
    margin: 0.25em 0;
    padding: 0.25em 40px;
    position: relative;
    color: #383838;
    border-width: 0;
}

.comment blockquote:before {
    display: block;
    content: "\201C";
    font-family: Georgia, serif;
    font-size: 50px;
    font-style: italic;
    position: absolute;
    left: 0;
    top: -5px;
    color: #999999;
}

.comment blockquote:after {
    display: block;
    content: "\201D";
    font-family: Georgia, serif;
    font-size: 50px;
    font-style: italic;
    position: absolute;
    right: 20px;
    bottom: -20px;
    color: #999999;
}

.comment blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}
.comment blockquote cite:before {
    content: "\2014 \2009";
}

.comment-photo {
    text-align: center;
}

.comment-photo > .thumbnail {
    display: inline-block;
    width: 54px;
}

.comment-photo > .thumbnail > img {
    width: 48px;
    height: 48px;
}

.comment label {
    display: inline;
    margin-right: 6px;
    font-weight: bold;
}

.comment-header {
    margin-bottom: 8px;
}

.comment-header, .comment-header label {
    font-size: small;
    color: #999999;
}

.comment-header p {
    margin-bottom: 2px;
}

.star{
    top: -10px;
    display: inline-block;
    background-repeat : no-repeat;
    background-image: url('../resources/images/star.png');
    width : 20px;
    height: 20px;
    line-height : 20px;
    background-position: top right;
    background-size: 20px 20px;
    vertical-align: bottom;
}
