body {
    padding-top: 80px;
    background-image: url(../resources/images/fabric-plaid.png);
}

div#recaptcha_widget_div {
    width: 318px;
    display: inline-block;
}

div.share-icon {
    background-image: url(../resources/images/share.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 96px 96px;
    height: 96px;
}

div.comment-icon {
    background-image: url(../resources/images/comment.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 96px 96px;
    height: 96px;
}

div.rate-icon {
    background-image: url(../resources/images/rate.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 96px 96px;
    height: 96px;
}

div.header-medium {
    /*background-image: url(../resources/images/header-medium.png);*/
    background-position: center center;
    background-repeat: no-repeat;
    height: 255px;
}

ul.alert {
    margin-left: 0;
    padding-left: 30px;
}

.navbar form {
    margin-bottom: 0;
}

pre.stack-trace {
    padding: 20px;
    background-color: white;
}

.panel {
    background-color: #ffffff;
    border-radius: 7px;
    background-image: url(../resources/images/panel-bg.gif);
    background-repeat: repeat-x;
    background-position: bottom;
    padding: 30px;
    border: solid 1px #cccccc;
}

.subject, .professor {
    margin-bottom: 10px;
}

.subject h1, .professor h1 {
    padding-left: 10px;
}

a.thumb-up {
    width: 20px;
    height: 20px;
    background-image: url(../resources/images/thumb-up.png);
    display: inline-block;
}

a.thumb-down {
    width: 20px;
    height: 20px;
    background-image: url(../resources/images/thumb-down.png);
    display: inline-block;
}
.comment {
    position: relative;
    border: solid 1px #AAA;
    padding: 10px 10px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block
}
.vote , .comment-text, .comment-photo{
    display: inline-block;
}
.comment-rating{
    font-size: 20px;
    margin-bottom: 10px;
}
.comment-photo{
    float:left;
}
.professor-photo{
}
.vote-professor{
}
.vote-professor span {
    height:60px;
    width:125px;
    display:block;
}

.professor-photo {
    margin: 20px auto;
    display: block;
    width: 200px;
    height: 120px;
    position: relative;
    text-decoration: none;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
    color: #333; 
    left: 0px;
    top: 0px;
}
.professor-photo img {
    width: 120px;
    position: relative;
    z-index: 30;
    float: left;
}
div.professor-photo div {
    display: block;
    text-align: center;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
    clear: left;
    width: 120px;
}
div.professor-photo div h5 {
    text-align: center;
}
div.professor-photo span.vote-prof {
    width: 116px;
    height: 116px;
    z-index: 1;
    display: block;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
    position: absolute;
    top: 2px;
    left: 2px;
    margin-left: 16px;
}
div.professor-photo span.vote-prof div {
    /*TODO: add a background for vote*/
    position: absolute;
    top: 2px;
    left: 2px;
    display: block;
    z-index: 10;
    width: 112px;
    height: 112px;
    overflow: hidden;
}
div.professor-photo:hover span.vote-prof {
    -webkit-transform: translateX(60px);
    -moz-transform: translateX(60px);
    -ms-transform: translateX(60px);
    -o-transform: translateX(60px);
    transform: translateX(60px);
}
div.professor-photo ul.actions {
    display: block;
    position: absolute;
    width: 60px;
    border-radius: 3px;
    left: 35px;
    top: 0px;
    height: 114px;
    z-index: 20;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}
div.professor-photo:hover ul.actions {
    -webkit-transform: translateX(60px);
    -moz-transform: translateX(60px);
    -ms-transform: translateX(60px);
    -o-transform: translateX(60px);
    transform: translateX(60px);
}

div.professor-photo ul.actions li {
    display: block;
    position: absolute;
    height: 20px;
    width: 20px;
    left: 10px;
    top: 22px;
}
div.professor-photo ul.actions li.downvote-prof {
    top: 48px;
}
div.professor-photo ul.actions li a {
    display: block;
    width: 20px; height: 20px; }
div.professor-photo ul.actions li.upvote-prof a {
}
div.professor-photo ul.actions li.downvote-prof a {
}
.upvote{
    background-image: url(../resources/images/arrow-up.png);
    display: inline-block;
    top : 0px;
    right : 3px;
    position: absolute;
    width: 64px;
    height: 64px;
}
.downvote{
    background-image: url(../resources/images/arrow-down.png);
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right : 3px;
    width: 64px;
    height: 64px;
}
.vote-count{
    position: absolute;
    top: 50%;
    right : 3px;
    font-size: 20px;
    text-align: center;
    width: 64px;
}
.comment-container > p{
    padding-left: 130px;
    padding-right: 64px;
    font-size: 20px;
}
.cuadro-promedio{
    /*round corners*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
    /* end round corners*/
    background-color: white;
    padding-top: 1%;
}
.comment-photo > img{
    height : 110px;
    width:100px;
}

.vote-wrapper{
    opacity : 0.4;
    filter: alpha(opacity=40); 
    background-color: #000;
}
.vote-wrapper:hover{
    opacity : 1;
    filter: alpha(opacity=100); 
    background-color: #000;
}
.vote{
    float:right;
}

iframe{
    width:100%;
    height: 400px;
}